.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.MuiAppBar-colorPrimary-7 {
  color: #fff;
  background-color: transparent!important;
}

.MuiPaper-elevation4-15 {
  box-shadow: none!important;
}

.MuiPaper-elevation2-13 {
  box-shadow: none!important;
}

.outer-paper {
  background-color: transparent!important;
}

.game-card {
  background-color: #f6f6f6!important;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
